@use 'reset';

$font: 'Overpass', sans-serif;
$orange: hsl(25, 97%, 53%); // primary
$white: hsl(0, 0%, 100%); // titles and active submit button & ratings
$light-grey: hsl(217, 12%, 63%); // ratings
$medium-grey: hsl(216, 12%, 54%); // ratings
$dark-blue: hsl(213, 19%, 18%); // card background 
$medium-dark-blue: hsl(210, 19%, 18%); // rating background
$very-dark-blue: hsl(216, 12%, 8%); // page background

body {
    background-color: $very-dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-rating, .card-thanks {
    max-width: 350px;
    margin: 20px;
    padding: 25px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(22,29,39,1) 0%, rgba(35,42,52,1) 100%);
}

.card-rating {
    &__img {
        background-color: $medium-dark-blue;
        padding: 0.8rem;
        border-radius: 50%;
    }
    &__title {
        margin: 12px 0;
        font-weight: 500;
    }
    &__description {
        color: $light-grey;
        line-height: 1.5em;
    }
    &__ratings {
        margin: 20px 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.rating {
    width: 200px;
    padding: 1em;
    margin: 0.6em;
    color: $light-grey;
    background-color: $medium-dark-blue;
    border: none;
    border-radius: 50%;
    transition: 0.3;

    &:hover {
        background-color: $light-grey;
        color: $white;
        cursor: pointer;
    } 
    &:focus {
        background-color: $orange;
        color: $white;
    } 
}

#input-warning {
    text-align: center;
    margin-bottom: 15px;
    color: $orange;
}

.card-thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__img {
        max-width: 50%;
        margin-top: 10px;
    }
    &__rating-results {
        color: $orange;
        background-color: $medium-dark-blue;
        border-radius: 30px;
        margin: 25px 0 30px;
        padding: 0.5em 0.8em 0.3em;
        font-size: 0.9rem;
    }
    &__title {
        font-weight: 500;
    }
    &__description {
        margin: 12px 0 20px;
        color: $light-grey;
        line-height: 1.5em;
    }
}

#rating-number {
    color: $orange;
}

.button {
    width: 100%;
    border-radius: 30px;
    background-color: $orange;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 500;
    border: none;
    padding: 1em;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $orange;
    }
}

.hidden {
    display: none;
}

.attribution {
    font-size: 0.8rem; 
    line-height: 2em;
    text-align: center;
    margin-top: 10px;

    a { 
        color: $orange; 
    }
}